/* Home Banner Area css
============================================================================================ */
.home_preview_area {
  background-size: cover;
  min-height: 820px;
  display: flex;
  .container {
    vertical-align: middle;
    align-self: center;
  }
  .preview_text {
    margin-top: 75px;
    h6 {
      font: normal 600 16px/26px $pop;
      color: $baseColor;
      text-transform: uppercase;
      letter-spacing: 5.76px;
      margin-bottom: 10px;
    }
    h2 {
      color: #fff;
      font: 600 60px/80px $pop;
      margin-bottom: 20px;
    }
    p {
      font: 400 16px/26px $pop;
      color: #fff;
      margin-bottom: 35px;
    }
  }
}

/* End Home Banner Area css
============================================================================================ */
