/* Counter UP Area css
============================================================================================ */
.counterup_area {
  position: relative;
  z-index: 2;
  padding: 90px 0px;
  &:before {
    content: "";
    background: rgba(0, 25, 76, 0.8);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
.counter_item {
  color: #fff;
  text-align: center;
  ion-icon {
    font-size: 55px;
    margin-bottom: 8px;
  }
  h3 {
    color: $baseColor;
    margin-bottom: 7px;
    font-size: 50px;
  }
  p {
    margin-bottom: 0px;
  }
}
/* End Counter UP Area css
============================================================================================ */
