/* Footer Area css
============================================================================================ */
.footer_area {
  position: relative;
  z-index: 2;
  &:before {
    content: "";
    background: rgba(0, 25, 76, 0.8);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .footer_inner {
    text-align: center;
    .nav {
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 35px;
      li {
        margin-right: 25px;
        a {
          color: #c6c6c6;
          font: 400 16px/26px $pop;
          @include transition;
          &:hover {
            color: $baseColor;
          }
        }
      }
    }
    p {
      margin-bottom: 0px;
      color: #c6c6c6;
      font: 400 16px/26px $pop;
      a {
        color: $baseColor;
      }
    }
  }
}
/* End Footer Area css
============================================================================================ */
