@media (max-width: 1660px) {
}
@media (max-width: 1470px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1380px) {
}
@media (max-width: 1340px) {
}
@media (max-width: 1300px) {
}
@media (max-width: 1199px) {
  .menu > .nav-item + li {
    margin-left: 22px;
  }
  .home_preview_area .preview_text h2 {
    font: 600 42px/58px "Poppins", sans-serif;
  }
  .home_preview_area {
    min-height: 720px;
  }
  .our_service_area .service_bg {
    display: none;
  }
  .our_service_area {
    background: url(../images/s-right.jpg) no-repeat;
    background-size: cover;
  }
  .testi_slider .slick-dots {
    bottom: 22px;
    margin-left: -82px;
  }
}
@media (max-width: 991px) {
  /* Menu Effect Css */
  .main_menu_area .navbar-toggler {
    border: none;
    outline: none;
    padding: 0px;
  }
  .main_menu_area {
    padding: 12.5px 0px;
  }
  .main_menu_area.navbar_fixed .navbar {
    padding: 12.5px 0px;
  }
  .main_menu_area .navbar .navbar-nav li {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main_menu_area.navbar_fixed .navbar .navbar-nav li {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .main_menu_area .navbar .navbar-nav {
    background: #001a53;
  }
  /* End Menu Effect Css */
  .service_item .media .d-flex ion-icon {
    font-size: 30px;
  }
  .service_item .media .d-flex {
    padding-right: 18px;
  }
  .service_item .media .media-body h4 {
    font: 600 18px/28px "Poppins", sans-serif;
    margin-bottom: 6px;
  }
  .service_item .media .media-body p br {
    display: none;
  }
  .service_box .col-md-6:nth-child(2n) {
    padding-left: 15px;
  }
  .work_item p br {
    display: none;
  }
  .quote_area .left h3 {
    font: 500 32px/50px "Poppins", sans-serif;
  }
  .testi_slider .slick-dots {
    bottom: 0px;
    margin-left: 0px;
    margin-top: 30px;
    position: relative;
  }
  .counterup_area .col-sm-6 {
    margin-bottom: 30px;
  }
  .counterup_area .row {
    margin-bottom: -30px;
  }
  .contact_area .col-lg-4 {
    margin-top: 50px;
  }
  .footer_area .footer_inner .nav {
    margin-right: -25px;
  }
}
@media (max-width: 767px) {
  .home_preview_area .preview_text h2 {
    font: 600 32px/45px "Poppins", sans-serif;
  }
  .service_box .col-md-6:nth-child(n + 4) {
    margin-bottom: 30px;
  }
  .service_box .col-md-6:last-child {
    margin-bottom: 0px;
  }
  .our_work_area .main_title h2 {
    font-size: 36px;
    line-height: 46px;
  }
  .work_vision_area {
    bottom: -300px;
    margin-top: -300px;
  }
  .our_team_area {
    padding-top: 400px;
  }
  .quote_area .d-flex {
    display: block !important;
  }
  .quote_area .left {
    margin-bottom: 25px;
  }
  .quote_area {
    padding: 70px 0px 72px 0px;
  }
  .quote_area .left h3 {
    font: 500 32px/44px "Poppins", sans-serif;
  }
}
@media (max-width: 575px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
  .home_preview_area .preview_text p br {
    display: none;
  }
  .home_preview_area {
    min-height: 600px;
  }
  .p_100 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .main_title h2 {
    font: 500 32px/40px "Poppins", sans-serif;
  }
  .main_title h6 {
    font: 600 18px/28px "Poppins", sans-serif;
  }
  .service_box {
    padding: 40px 35px 45px 35px;
  }
  .our_work_area {
    background-size: cover !important;
    background-attachment: scroll !important;
    background-position: top right !important;
  }
  .our_team_area {
    padding-top: 370px;
  }
  .counter_item h3 {
    font-size: 38px;
  }
  .counter_item ion-icon {
    font-size: 40px;
  }
  .counterup_area {
    padding: 70px 0px;
  }
}
@media (max-width: 480px) {
  .main_menu_area .navbar.navbar-expand-lg .navbar-brand {
    width: 200px;
  }
  .main_menu_area .navbar.navbar-expand-lg .navbar-brand img {
    max-width: 100%;
  }
  .home_preview_area .preview_text h2 {
    font: 600 24px/37px "Poppins", sans-serif;
  }
  .project_item {
    max-width: 360px;
    margin: auto;
  }
  .footer_area .footer_inner .nav {
    margin-top: 20px;
    margin-bottom: 22px;
  }
}
@media (max-width: 400px) {
}
@media (max-width: 360px) {
  .service_item .media {
    display: block;
  }
  .service_item .media .d-flex {
    padding-right: 0px;
    margin-bottom: 15px;
  }
}
